<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="shortcut icon" href="../assets/img/navbar/favicon.ico" type="image/x-icon">
    <title>SUSHI HOME</title>
</head>

<body>
    <header w3-include-html="../../templates/navbar.html"></header>
    <main>
        <section class="our_story">
            <div class="img_box">
                <img src="../assets/img/about/about-img1.jpeg" width="100%" alt="">
            </div>
            <div class="section_content">
                <h1 class="title">OUR STORY</h1>
                <p class="paragraphs">
                    Tekkadan Dining has a story deeply rooted in our love for traditional Japanese cuisine and a passion
                    for sharing it with the world. Our journey began with a humble vision: to create a space where the
                    rich tapestry of Japanese culinary traditions could flourish.
                </p>
                <p class="paragraphs">
                    Tekkadan Dining was founded by a group of friends, each with a unique connection to Japanese
                    culture. Inspired by their travels and culinary adventures across Japan, they set out to bring the
                    authentic flavors of Japanese cuisine to their community.
                </p>
                <p class="paragraphs">
                    What started as a dream has blossomed into a thriving restaurant, known for its unwavering
                    commitment to complex elaboration and the highest quality ingredients. Today, Tekkadan Dining
                    continues to be a labor of love, offering a taste of Japan's culinary heritage to all who step
                    through our doors.
                </p>
            </div>
        </section>
        <section class="our_philosophy">
            <div class="section_content">
                <h1 class="title">OUR PHILOSOPHY</h1>
                <p class="paragraphs">
                    At Tekkadan Dining, our philosophy is woven into every aspect of our restaurant, from our dishes to
                    our service. It's the guiding force that shapes our identity and sets us apart in the world of
                    culinary excellence.
                </p>
                <p class="paragraphs">
                    Central to our philosophy is our unwavering commitment to preserving the authenticity and tradition
                    of Japanese cuisine. We believe that the essence of a great meal lies in respecting the roots of a
                    dish while infusing it with our unique creativity.
                </p>
                <p class="paragraphs">
                    We are committed to responsible sourcing and sustainable practices, ensuring that our culinary
                    journey leaves a positive impact on the environment. Our philosophy encompasses a deep respect for
                    nature and a commitment to giving back to the communities that inspire us.
                </p>
                <p class="paragraphs">
                    Tekkadan Dining is more than just a restaurant; it's a place where friendships are forged and
                    memories are made. Our philosophy emphasizes building a sense of community, where guests become part
                    of our extended family, and every visit is a chance to connect and celebrate the joys of life
                    through food and culture.
                </p>
            </div>
            <div class="img_box">
                <img src="../assets/img/about/about-img2.jpeg" height="80%" alt="">
            </div>
        </section>
    </main>
    <footer w3-include-html="../../templates/footer.html"></footer>
    <script src="../assets/js/html_snippets.js"></script>
    <script src="../assets/js/navbar_scroll_animation.js"></script>
    <script src="../assets/js/shopping_bag.js"></script>
    <script src="../assets/js/display_login.js"></script>
</body>

</html>