<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/bookings.css">
    <link rel="shortcut icon" href="../assets/img/navbar/favicon.ico" type="image/x-icon">
    <title>SUSHI HOME</title>
</head>

<body>
    <header w3-include-html="../../templates/navbar.html"></header>
    <main>
        <div class="form_img_box">
            <img src="../assets/img/bookings/bookings-img.png" width="100%" alt="">
        </div>
        <section class="form-sec">
            <h1 class="title text_box_weight form_title">MAKE A BOOKING</h1>
            <form action="" method="POST">
                <input class="form_input" type="date">
            </form>
        </section>
    </main>
    <footer w3-include-html="../../templates/footer.html"></footer>
    <script src="../assets/js/html_snippets.js"></script>
    <script src="../assets/js/navbar_scroll_animation.js"></script>
</body>

</html>