<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/bookings.css">
    <link rel="shortcut icon" href="../assets/img/navbar/favicon.ico" type="image/x-icon">
    <title>SUSHI HOME</title>
</head>

<body>
    <header w3-include-html="../../templates/navbar.html"></header>
    <main>
        <div class="form_img_box">
            <img src="../assets/img/bookings/bookings-img.png" width="100%" alt="">
        </div>
        <section class="form_sec">
            <h1 class="title text_box_weight form_title">MAKE A BOOKING</h1>
            <form action="" method="POST">
                <label for="name">Name:</label><input class="form_input" name="name" type="text">
                <label for="phone">Phone Number:</label><input class="form_input" name="email" type="number">
                <label for="guests">Number of guests:</label>
                <select class="form_input" name="guests">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <label for="date">Select Date:</label><input class="form_input" name="date" type="date">
                <label for="hour">Select Hour:</label>
                <select class="form_input hour_selector" name="hour">
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                </select>
                <button type="submit">Send</button>
            </form>
        </section>
    </main>
    <footer w3-include-html="../../templates/footer.html"></footer>
    <script src="../assets/js/html_snippets.js"></script>
    <script src="../assets/js/navbar_scroll_animation.js"></script>
</body>

</html>