<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="shortcut icon" href="../assets/img/navbar/favicon.ico" type="image/x-icon">
    <title>SUSHI HOME</title>
</head>
<body>
    <header w3-include-html="../../templates/navbar.html"></header>
    <section class="home_page_box">
        <div class="brand_engagement">
            <h1 class="slide-in-blurred-top1 brand home_box_components">Tekkadan Dining</h1>
            <div class="catchword_box slide-in-blurred-top2">
                <div class="line"></div>
                <h1 class="catchword home_box_components">Home of Sushi</h1>
                <div class="line"></div>
            </div>
        </div>
        <button href="" class="journey_btn slide-in-blurred-top2 home_box_components">START JOURNEY</button>
    </section>
    <section>
        <div class="history_img_box">
            <img src="../assets/img/home/history_sec/history_img1.jpeg" alt="">
        </div>
        <div class="history_text_box">

        </div>
    </section>
    <script src="../assets/js/html_snippets.js"></script>
</body>
</html>