<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/img/navbar/favicon.ico" type="image/x-icon">
    <title>SUSHI HOME</title>
</head>

<body>
    <header w3-include-html="../../templates/navbar.html"></header>
    <main>
        <h1 class="title text_box_weight">OUR DISHES</h1>
        <div class="menu">
            <div class="card">
                <img src="../assets/img/home/dishes/salmon-nigiri.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Salmon Nigiri - 6$</h3>
                <img class="arrow" id="1" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d1', '1')" alt="">
                <div id="d1" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/akami-nigiri.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Akami Nigiri - 6$</h3>
                <img class="arrow" id="2" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d2', '2')" alt="">
                <div id="d2" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/ebi-nigiri.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Ebi Nigiri - 6$</h3>
                <img class="arrow" id="3" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d9', '9')" alt="">
                <div id="d9" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/unagi-nigiri.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Unagi Nigiri - 6$</h3>
                <img class="arrow" id="4" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d3', '3')" alt="">
                <div id="d3" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/akami-hoso.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Akami Hosomaki - 6$</h3>
                <img class="arrow" id="5" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d4', '4')" alt="">
                <div id="d4" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/salmon-hoso.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Salmon Hosomaki - 6$</h3>
                <img class="arrow" id="6" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d5', '5')" alt="">
                <div id="d5" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/akami-sashimi.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Akami Sashimi - 6$</h3>
                <img class="arrow" id="7" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d6', '6')" alt="">
                <div id="d6" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/salmon-sashimi.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Salmon Sashimi - 6$</h3>
                <img class="arrow" id="8" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d7', '7')" alt="">
                <div id="d7" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/sashimi-mix.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Sashimi Mix - 6$</h3>
                <img class="arrow" id="9" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d8', '8')" alt="">
                <div id="d8" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/ikura.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Ikura - 6$</h3>
                <img class="arrow" id="10" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d10', '10')" alt="">
                <div id="d10" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/tobiko.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Tobiko - 6$</h3>
                <img class="arrow" id="11" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d11', '11')" alt="">
                <div class="dish_description slide-in-bottom" id="d11">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/home/dishes/gyoza.png" height="40%" alt="">
                <h3 class="dish_name text_box_weight">Gyozas - 6$</h3>
                <img class="arrow" id="12" src="../assets/img/home/dishes/arrow-icon.png" width="7%"
                    onclick="text_appear('d12', '12')" alt="">
                <div id="d12" class="dish_description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit, officia accusamus et
                        dignissimos placeat, ex obcaecati aspernatur voluptatem quaerat optio,
                    </p>
                    <button>Buy</button>
                </div>
            </div>
        </div>
    </main>
    <footer w3-include-html="../../templates/footer.html"></footer>
    <script src="../assets/js/html_snippets.js"></script>
    <script src="../assets/js/navbar_scroll_animation.js"></script>
    <script src="../assets/js/card_animation.js"></script>
</body>

</html>