<nav>
    <div class="logo_box">
        <img src="../assets/img/navbar/sushi_home_logo.svg" height="80%" alt="sushi_home_logo">
    </div>
    <div class="navbar_menu">
        <a href="menu.html">MENU</a>
        <a href="bookings.html">BOOKINGS</a>
        <a href="about.html">ABOUT US</a>
        <a href="promotions.html" class="promotions_a">PROMOTIONS</a>
        <img src="../assets/img/navbar/user-icon.png" id="user_icon" onclick="displayLogin()" alt="user" height="38%">
        <img src="../assets/img/navbar/shopping-bag.png" height="44%" id="bag_icon" onclick="displayBag()" alt="shopping-bag">
        <div id="user_login_box" class="user_login_box">
            <a href="login.html">Sing In</a>
            <a href="register.html">Sing Up</a>
        </div>
        <div class="shopping_bag" id="shopping_bag"></div>
    </div>
</nav>
